<div class="container">
  <div class="row">
    <div id="main" class="col-md-8 col-xs-12">
      <div class="panel panel-blog">
        <div class="panel-heading">
         <h1><%= content_tag :div,show_date(@blog.created_at),class:'date'  %>
          <%= @blog.title %></h1>
        </div>
        <div class="panel-body type">
          <%= sanitize @blog.context %>
        </div>
        <div class="panel-footer">
        <%= render partial:'bshare', locals:{blog: @blog} %>
        <% unless @blog.reference_url.blank? %>
          <blockquote>
            本文转载自互联网，版权归原作者所有。 <%= link_to '[点此查看原文]',@blog.reference_url,rel:'nofollow',target: '_blank' %>
          </blockquote>
        <% end %>
        </div>
      </div>
     <div class="panel panel-default">
       <div class="panel-heading">评论栏</div>
       <div class="panel-body">
         <div id="disqus_thread"></div>
         <script type="text/javascript">
             var disqus_shortname = 'opifices';
             (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
         </script>
         <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
       </div>
     </div>
    </div>
<%= render partial:'sidebar' %>
</div>
</div>