<%= render 'shared/head' %>
<body id="<%= "#{controller_name}-#{action_name}" %>">
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><span class="sr-only"><%="#{CFG['sitename']}——#{CFG['subtitle']}"%></span></a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to '博文',console_blogs_path  %></li>
        <li><%= link_to '目录',console_categories_path  %></li>
      </ul>
    </nav>
  </div>
</header>
<%= render 'shared/flash' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>